@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.header Button {
    width: 120px;
    height: 40px;
    background-color: rgb(42, 101, 202);
    border: 0;
    color: white;
    margin-right: 2rem;
    cursor: pointer;
}

.city {
    font-family: 'Roboto', sans-serif;
    margin-left: 2rem;
    font-weight: 500;
    font-size: 2.5rem;
    color: rgb(42, 101, 202);
}

