.login-form Button {
  margin-top: 1rem;
  width: 100%;
}

.image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  -o-object-fit: contain;
  object-fit: contain;
}

.login-group {
  margin-top: 1rem;
}

.login-form {
  font-family: 'Roboto', sans-serif;
  width: 30%;
  border: 0.4rem solid gray;
  margin: auto;
  font-size: 1.5rem;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.submitButton {
  width: 400px;
  height: 32px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.submitButton:hover {
  background-color: black;
  color: white;
}

.login-form Form {
  padding: 0 3rem 2rem 3rem;
}

.header-form {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding-top: 1rem;
  text-align: center;
}

.warning {
  margin-top: 15px;
  display: block;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: red;
  font-size: 1.1rem;
  font-weight: bold;
}