.weather-card {
  width: 20%;
  margin: .2rem;
  margin-top: 3em;
  padding: 0.8rem;
  border: 0.1rem solid rgb(175, 192, 220);
  border-radius: 2%;
  display: flex;
  flex-direction: column;
}

.weather-info {
  padding: 0.2rem;
}

.weather-img {
  padding: 0.8rem;
  margin: 0.2rem;
  align-self: center;
}

.date {
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(42, 101, 202);
}